*{
    margin: 0;
}

.app{
    background-color: #fafafa;
    
}

.app__header{
    position: sticky;
    top: 0;
    z-index: 1;
    object-fit: contain;
    height: 30px;
    padding: 15px;
    background-color:white;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    
}
.app__headerImage{
    height: 30px;
   
    
    
}
.logout__button{
    margin-left: 2px;
}
.app__posts{
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.app__postsRight{
    margin-left: 20px;
}

.app__signup{
    display: flex;
    flex-direction: column;
}
.app__Rightheader{
    padding: 2px;
    display: flex;
}

.footer__warning{
    position: sticky;
    top:0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(33, 136, 221);
    height: 50px;
    
}
